.section-projects-page {
    background-color: #bbeff3;
    padding: 30px 5%;
}

.section-projects-page h2, .section-projects-page p {
    text-align: center;
}

.section-projects-page h2 {
    font-weight: 600;
}

.section-projects-page .row .col-md-6 {
    padding: 0;
}

.project-folder {
    background-color: #75d0f5;
    height: 300px;
    /* width: 80%; */
    margin: 10px 10px;
    /* make folder shape */
    clip-path: polygon(0% 0%, 60% 0%, 62% 10%, 100% 10%, 100% 100%, 0% 100%);
}

@media (max-width: 480px) {
    .project-folder {
        clip-path: polygon(0% 0%, 80% 0%, 82% 10%, 100% 10%, 100% 100%, 0% 100%);
    }

    .project-folder .tools-used img {
        height: 55%;
    }
}

.project-folder .title h4 {
    position: relative;
    right: -10px;
    top: 5px;
    font-size: 1.15rem;
    font-weight: 600;
}

@media (max-width: 480px) {
    .project-folder .title h4 {
        font-size: 1.05rem;
    }
}

.project-folder .project-repo {
    background-color: rgb(19, 17, 17);
    color: #f5f5f5;
    height: 60px;
    width: 30px;
    text-align: center;
    position: absolute;
}

.project-folder .project-image {
    position: relative;
    top: 3px;
    height: 100%;
}

.project-folder .project-image img {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.project-folder .project-image:hover .find-me-more {
    display: block;
    background: rgba(0, 0, 0, .6);
}

.project-folder .find-out-more {
    width: 100%;
    height: 100%;
    display: none;
    background-color: #000000cc;
}

.project-folder .tools-used {
    background-color: #f5f5f5;
    height: 20%;
    width: 70%;
    position: absolute;
    bottom: 0px;
    right: 0px;
    /* clip-path: polygon(0% 100%, 100% 100%, 100% 0%, 15% 0); */
    border-top-left-radius: 100px;

    border-top: 3px solid #000031;
}

.project-folder .tools-used img {
    position: relative;
    right: -17%;
    top: 8px;
    height: 65%;
    margin: 0 3px;
}

@media (max-width: 480px) {
    .project-folder .tools-used img {
        top: 12px;
        height: 50%;
    }
}

/* tool icons */ 
/* .project-folder i {
    margin: 0 4px;
}

.fa-html5 {
    color: #d15921;
}

.fa-css3-alt {
    color: #264de4;
}

.fa-js-square {
    color: #c9ab25;
}

.fa-node-js {
    color: #68A063;
}

.fa-react {
    color: #35c0e2;
} */