.section-my-notes {
    background-color: #cae1f0;
}

.my-notes-image {
    background: url('./blob-notes.svg');
    background-size: 110%;
    background-position: 0;
}

.my-notes-text-div {
    flex-direction: row-reverse; 
}

.my-notes-view button {
	width: 250px;
	color: #000000;
    background: #7db7e7c9;
}

.my-notes-view button:hover {
    background: #a2c7e6d5;
}