.section-credits {
    background-color: #c0d2f3;
}

.credits-image {
    background: url('./blob-credits.svg');
    background-size: 105%;
    background-position: 0;
}

.credits-text-div {
    flex-direction: row-reverse; 
}

.credits-view button {
	width: 250px;
	color: #000000;
    background: #4faeeec9;
}

.credits-view button:hover {
    background: #77bdebc9;
}