.section-my-experience {
    background-color: #c8dcf5c7;
}

.my-experience-image {
    background: url('./blob-experience.svg');
    background-size: 110%;
    background-position: 0;
}

.my-experience-text-div {
    flex-direction: row-reverse; 
}

.my-experience-view button {
	width: 250px;
	color: #000000;
    background: #2eb0b3c9;
}

.my-experience-view button:hover {
    background: #78dbdbe0;
}