.section-my-experience {
    background-color: #cdeaf1;
}

.my-experience-image {
    background: url('./blob-experience.svg');
    background-size: 110%;
    background-position: 0;
}

.my-experience-text-div {
    flex-direction: row-reverse; 
}

.my-experience-view button {
	width: 250px;
	color: #000000;
    background: #1f77a07c;
}

.my-experience-view button:hover {
    background: #63a0bd7c;
}