.section-my-extracurriculars {
    background-color: #d0e2f8;
}

.my-extracurriculars-image {
    background: url('./blob-extracurriculars.svg');
    background-size: 110%;
    background-position: 0;
}

.my-extracurriculars-text-div {
    flex-direction: row-reverse; 
}

.my-extracurriculars-view button {
	width: 300px;
	color: #000000;
    background: #5ab6e0c9;
}

.my-extracurriculars-view button:hover {
    background: #8fc9e4c9;
}