.section-my-extracurriculars {
    background-color: #dddcf3;
}

.my-extracurriculars-image {
    background: url('./blob-extracurriculars.svg');
    background-size: 110%;
    background-position: 0;
}

.my-extracurriculars-text-div {
    flex-direction: row-reverse; 
}

.my-extracurriculars-view button {
	width: 300px;
	color: #000000;
    background: #a399f8c9;
}

.my-extracurriculars-view button:hover {
    background: #b0a9eec9;
}