.section-my-timeline {
    background-color: #f5f5f5;
}

.my-timeline-image {
    background: url('./blob-timeline.svg');
    background-size: 105%;
    background-position: -20px -10px;
}

.my-timeline-view button {
	width: 250px;
	color: #000000;
    background: #8aa5f0ad;
}

.my-timeline-view button:hover {
    background: #a5afe7ad;
}