@import '../../index.scss';

/* Page Sections Wrapper */
.section-page-sections {
    background: rgb(245,245,245);
    // background: linear-gradient(
    //     160deg, 
    //     rgb(224, 247, 245) 0%, 
    //     rgb(165, 236, 220) 35%, 
    //     rgb(187, 223, 240) 64%, 
    //     rgb(177, 198, 238) 90%, 
    //     rgb(174, 186, 235) 100%
    // );
}

/* General Page Sections */
.section-page {
    padding: 20px 12%;
    height: 80vh;
    @include center;
}

.section-page .container-fluid .col-lg-6 {
    display: flex;
}

.page-text, .page-image-div {
    justify-content: center;
    align-items: center;
}

.page-image {
    background-position: 0;
    background-repeat: no-repeat;
    width: 100%;
    max-width: 500px;
}

.page-text-div {
    padding: 20px 5%;

    h2 {
        font-family: 'nunito', sans-serif;
        font-weight: 300;
        margin-bottom: 5%;
        font-size: 2.6em;
    }

    p {
        font-size: 1.1em;
        font-weight: 300;
    }
}

.page-view button {
    margin: 0;
    padding: 0;
	box-sizing: border-box;
	width: 250px !important;
	height: 50px;
	cursor: pointer;
    border: 0;
    /* border: 2px solid #000031; */
	box-shadow: 2px 2px #000031;
	font-family: 'nunito', sans-serif;
	color: #000000;
	font-size: 25px;
	border-radius: 4px;
	transition: 0.3s;
}

.page-view button:hover {
    box-shadow: 4px 4px #000031;
}

.page-view button .page-icon {
    font-size: 110%;
}

.page-view button:hover .page-icon {
    animation-name: bounce_arrow;
    animation-duration: 0.5s; 
    /* animation-direction: alternate-reverse; */
    animation-iteration-count: infinite;
}

@keyframes bounce_arrow {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(5px);
    }
    100% {
        transform: translateX(0);
    }
}

@media (min-width: 992px) {
    .section-projects, .section-education,
    .section-achievements, .section-my-timeline {
        /* padding: 10px 7%; */
        padding-left: 9%;
        padding-right: 11%;
    }

    .section-experience, .section-extracurriculars, 
    .section-notes, .section-credits {
        padding-left: 13%;
        padding-right: 13%;
    }
}

@media (max-width: 992px) {

    .section-page {
        padding-top: 40px;
        padding-bottom: 40px;
        padding-left: 9%;
        padding-right: 11%;
    }

    .page-text-div h2 {
        margin-bottom: 10px;
        font-size: 2.4em;
    }

}

@media (max-width: 680px) {

    .section-page {
        padding: 40px 10px;
    }

    .page-text-div h2 {
        margin-bottom: 5px;
    }

    .page-image {
        margin-bottom: 15px;
    }
}

@media (max-width: 440px) {

    .page-image {
        margin-bottom: 20px;
    }

    .page-text-div h2 {
        font-size: 2em;
    }
}
