.section-page {
    background-color: #c0d2f3;
    padding: 20px 12%;
    display: inline-flex;
}

.section-page .container-fluid .col-lg-6 {
    display: flex;
}

.page-text, .page-image-div {
    justify-content: center;
    align-items: center;
}

.page-image {
    background-position: 0;
    width: 100%;
    max-width: 500px;
}

.page-text-div {
    padding: 0 5%;
}

.page-text-div h2 {
    font-family: 'nunito', sans-serif;
    font-weight: 300;
    margin-bottom: 5%;
    font-size: 2.6em;
}

.noselect {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
	-webkit-tap-highlight-color: transparent;

}

.page-view button {
    margin: 0;
    padding: 0;
	box-sizing: border-box;
	width: 250px !important;
	height: 50px;
	cursor: pointer;
	border: none;
	font-family: 'nunito', sans-serif;
    font-weight: 300;
	color: #000000;
	font-size: 25px;
	border-radius: 4px;
	transition: 0.3s;
}

.page-view button .page-icon {
    font-size: 110%;
}

.page-view button:hover .page-icon {
    animation-name: test;
    animation-duration: 0.5s; 
    /* animation-direction: alternate-reverse; */
    animation-iteration-count: infinite;
}

@keyframes test {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(5px);
    }
    100% {
        transform: translateX(0);
    }
}

@media (min-width: 992px) {
    .section-my-projects, .section-my-education,
    .section-my-achievements, .section-my-timeline {
        /* padding: 10px 7%; */
        padding-left: 9%;
        padding-right: 11%;
    }

    .section-my-experience, .section-my-extracurriculars, 
    .section-my-notes, .section-credits {
        padding-left: 13%;
        padding-right: 13%;
    }
}

@media (max-width: 992px) {

    .section-page {
        padding-top: 40px;
        padding-bottom: 40px;
        padding-left: 9%;
        padding-right: 11%;
    }

    .page-text-div h2 {
        margin-bottom: 10px;
        font-size: 2.4em;
    }

}

@media (max-width: 680px) {

    .section-page {
        padding: 40px 10px;
    }

    .page-text-div h2 {
        margin-bottom: 5px;
    }

    .page-image {
        margin-bottom: 15px;
    }
}

@media (max-width: 440px) {

    .page-image {
        margin-bottom: 20px;
    }

    .page-text-div h2 {
        font-size: 2em;
    }
}

/* Projects */
.my-projects-image {
    background-image: url('./blobs/blob-projects.svg');
    background-size: 110%;
    background-position: 0;
}

.my-projects-view button {
	width: 250px;
	color: #000000;
    background: #2da9dfad;
}

.my-projects-view button:hover {
    background: #8cd3f1d0;
}

/* Experience */
.my-experience-image {
    background: url('./blobs/blob-experience.svg');
    background-size: 110%;
    background-position: 0;
}

.my-experience-text-div {
    flex-direction: row-reverse; 
}

.my-experience-view button {
	width: 250px;
	color: #000000;
    background: #1f77a07c;
}

.my-experience-view button:hover {
    background: #63a0bd7c;
}

/* Education */

.my-education-image {
    background: url('./blobs/blob-education.svg');
    background-size: 110%;
    background-position: 0;
}

.my-education-view button {
	width: 250px;
	color: #000000;
    background: #41a8d8ad;
}

.my-education-view button:hover {
    background: #6fc0e6ad;
}

/* Extracurriculars */
.my-extracurriculars-image {
    background: url('./blobs/blob-extracurriculars.svg');
    background-size: 110%;
    background-position: 0;
}

.my-extracurriculars-text-div {
    flex-direction: row-reverse; 
}

.my-extracurriculars-view button {
	width: 300px;
	color: #000000;
    background: #5ab6e0c9;
}

.my-extracurriculars-view button:hover {
    background: #8fc9e4c9;
}

/* Awards/Achievements */
.my-achievements-image {
    background: url('./blobs/blob-achievements.svg');
    background-size: 110%;
    background-position: -20px 0;
}

.my-achievements-text-div {
    padding: 0 3%;
}

.my-achievements-view button {
	width: 280px;
	color: #000000;
    background: #57b9e4ad;
}

.my-achievements-view button:hover {
    background: #8cd3f1d0;
}

/* Notes */
.my-notes-image {
    background: url('./blobs/blob-notes.svg');
    background-size: 110%;
    background-position: 10px 0;
}

.my-notes-text-div {
    flex-direction: row-reverse; 
}

.my-notes-view button {
	width: 250px;
	color: #000000;
    background: #7db7e7c9;
}

.my-notes-view button:hover {
    background: #a2c7e6d5;
}

/* Timeline */
.my-timeline-image {
    background: url('./blobs/blob-timeline.svg');
    background-size: 105%;
    background-position: -20px -10px;
}

.my-timeline-view button {
	width: 250px;
	color: #000000;
    background: #8aa5f0ad;
}

.my-timeline-view button:hover {
    background: #a5afe7ad;
}

/* Credits */
.credits-image {
    background: url('./blobs/blob-credits.svg');
    background-size: 105%;
    background-position: 0;
}

.credits-text-div {
    flex-direction: row-reverse; 
}

.credits-view button {
	width: 250px;
	color: #000000;
    background: #4faeeec9;
}

.credits-view button:hover {
    background: #77bdebc9;
}
