/* Page Sections Wrapper */
.section-page-sections {
    background: rgb(245,245,245);
    /* background: linear-gradient(
        180deg, 
        rgb(245, 245, 245) 0%, 
        rgb(197, 226, 238) 40%,
        rgb(163, 217, 240) 100%
    ); */
    background: rgb(245,245,245);
    background: linear-gradient(
        180deg, 
        rgba(245,245,245,1) 0%, 
        rgba(165,236,233,1) 35%, 
        rgba(165,213,236,1) 64%, 
        rgb(198, 212, 238) 90%, 
        rgb(173, 183, 221) 100%
    );
        /* #bbdbf0 100% */
        /* rgb(216, 180, 223) 0%,
        rgb(255, 255, 255) 50%,
        rgb(162, 230, 192) 100%
    /* /* ); */
}

/* General Page Sections */
.section-page {
    padding: 20px 12%;
    display: inline-flex;
}

.section-page .container-fluid .col-lg-6 {
    display: flex;
}

.page-text, .page-image-div {
    justify-content: center;
    align-items: center;
}

.page-image {
    background-position: 0;
    width: 100%;
    max-width: 500px;
}

.page-text-div {
    /* background-color: #f5f5f5cc; */
    /* background: url('./bg-page-section-text.svg'); */
    /* color: #dce4db; */
    /* color: #f5f5f5; */
    border-radius: 10%;
    padding: 20px 5%;
}

.page-text-div h2 {
    font-family: 'nunito', sans-serif;
    font-weight: 300;
    margin-bottom: 5%;
    font-size: 2.6em;
}

.page-text-div p {
    font-weight: 300;
}

.noselect {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
	-webkit-tap-highlight-color: transparent;

}

.page-view button {
    margin: 0;
    padding: 0;
	box-sizing: border-box;
	width: 250px !important;
	height: 50px;
	cursor: pointer;
    border: 0;
    /* border: 2px solid #000031; */
	box-shadow: 2px 2px #000031;
	font-family: 'nunito', sans-serif;
	color: #000000;
	font-size: 25px;
	border-radius: 4px;
	transition: 0.3s;
}

.page-view button:hover {
    box-shadow: 4px 4px #000031;
}

.page-view button .page-icon {
    font-size: 110%;
}

.page-view button:hover .page-icon {
    animation-name: bounce_arrow;
    animation-duration: 0.5s; 
    /* animation-direction: alternate-reverse; */
    animation-iteration-count: infinite;
}

@keyframes bounce_arrow {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(5px);
    }
    100% {
        transform: translateX(0);
    }
}

@media (min-width: 992px) {
    .section-my-projects, .section-my-education,
    .section-my-achievements, .section-my-timeline {
        /* padding: 10px 7%; */
        padding-left: 9%;
        padding-right: 11%;
    }

    .section-my-experience, .section-my-extracurriculars, 
    .section-my-notes, .section-credits {
        padding-left: 13%;
        padding-right: 13%;
    }
}

@media (max-width: 992px) {

    .section-page {
        padding-top: 40px;
        padding-bottom: 40px;
        padding-left: 9%;
        padding-right: 11%;
    }

    .page-text-div h2 {
        margin-bottom: 10px;
        font-size: 2.4em;
    }

}

@media (max-width: 680px) {

    .section-page {
        padding: 40px 10px;
    }

    .page-text-div h2 {
        margin-bottom: 5px;
    }

    .page-image {
        margin-bottom: 15px;
    }
}

@media (max-width: 440px) {

    .page-image {
        margin-bottom: 20px;
    }

    .page-text-div h2 {
        font-size: 2em;
    }
}

/* Projects */
.my-projects-image {
    background-image: url('./blobs/blob-projects.svg');
    background-size: 110%;
    background-position: 0;
}

.my-projects-view button {
	width: 250px;
	color: #000000;
    background: #b9d3f0;
}

.my-projects-view button:hover {
    background: #b9d3f099;
}

/* Experience */
.my-experience-image {
    background: url('./blobs/blob-experience.svg');
    background-size: 110%;
    background-position: 0;
}

.my-experience-view button {
	width: 250px;
	color: #000000;
    background: #afcff5;
}

.my-experience-view button:hover {
    background: #afcff599;
}

/* Education */

.my-education-image {
    background: url('./blobs/blob-education.svg');
    background-size: 110%;
    background-position: 0;
}

.my-education-view button {
	width: 250px;
	color: #000000;
    background: #97c3f1;
}

.my-education-view button:hover {
    background: #97c3f199;
}

/* Extracurriculars */
.my-extracurriculars-image {
    background: url('./blobs/blob-extracurriculars.svg');
    background-size: 110%;
    background-position: 0;
}

.my-extracurriculars-view button {
	width: 300px;
	color: #000000;
    background: #8abaee;
}

.my-extracurriculars-view button:hover {
    background: #8abaee99;
}

/* Awards/Achievements */
.my-achievements-image {
    background: url('./blobs/blob-achievements.svg');
    background-size: 110%;
    background-position: -20px 0;
}

.my-achievements-view button {
	width: 280px;
	color: #000000;
    background: #81b7f1;
}

.my-achievements-view button:hover {
    background: #81b7f199;
}

/* Notes */
.my-notes-image {
    background: url('./blobs/blob-notes.svg');
    background-size: 110%;
    background-position: 10px 0;
}

.my-notes-view button {
	width: 250px;
	color: #000000;
    background: #74b2f3;
}

.my-notes-view button:hover {
    background: #74b2f399;
}

/* Timeline */
.my-timeline-image {
    background: url('./blobs/blob-timeline.svg');
    background-size: 105%;
    background-position: -20px -10px;
}

.my-timeline-view button {
	width: 250px;
	color: #000000;
    background: #73b4f8;
}

.my-timeline-view button:hover {
    background: #73b4f899;
}

/* Credits */
.credits-image {
    background: url('./blobs/blob-credits.svg');
    background-size: 105%;
    background-position: 0;
}

.credits-view button {
	width: 250px;
	color: #000000;
    background: #70adee;
}

.credits-view button:hover {
    background: #70adee99;
}
