.section-my-projects {
    background-color: #f5f5f5;
}

.my-projects-image {
    background-image: url('./blob-projects.svg');
    background-size: 110%;
    background-position: 0;
}

.my-projects-view button {
	width: 250px;
	color: #000000;
    background: #57b9e4ad;
}

.my-projects-view button:hover {
    background: #8cd3f1d0;
}