.section-my-education {
    background-color: #f5f5f5;
}

.my-education-image {
    background: url('./blob-education.svg');
    background-size: 110%;
    background-position: 0;
}

.my-education-text-div {
    padding: 0 3%;
}

.my-education-view button {
	width: 250px;
	color: #000000;
    background: #a880e9ad;
}

.my-education-view button:hover {
    background: #bea7e4ad;
}