.section-my-education {
    background-color: #f5f5f5;
}

.my-education-image {
    background: url('./blob-education.svg');
    background-size: 110%;
    background-position: 0;
}

.my-education-view button {
	width: 250px;
	color: #000000;
    background: #41a8d8ad;
}

.my-education-view button:hover {
    background: #6fc0e6ad;
}