@use 'sass:math';

@import "../../../index.scss";

.timeline-element {
    display: flex;
    flex-flow: row wrap;
    // align-items: center;

    $node_size: 80px;
    $color: var(--color);
    $subcolor: var(--subcolor);

    .date {
        width: 150px;
        height: $node_size;
        display: flex;
        align-items: center;
        
        h6 {
            font-size: 1.7rem;
        }
    }

    .node {

        // circle of color "--color"
        background: $color;
        border-radius: 50%;
        width: $node_size;
        height: $node_size;
        border: math.div($node_size, 8) solid $subcolor;
    }

    hr {
        width: 100%;
        height: 3px;
        background-color: $subcolor;
        border-radius: 50%;
        margin: 2px 0;
    }

    .desc {
        padding-left: 40px;
        width: 500px;

        // title
        h3 {
            padding: 0;
            text-align: left;
            font-size: 2.5rem;
        }

        // subtitle
        h4 {
            text-align: left;
            font-size: 1.8rem;
        }
    }
}
