@use 'sass:math';

@import "../../../index.scss";

.timeline-element {
    display: flex;
    flex-flow: row wrap;
    padding-bottom: 30px;

    &:last-of-type {
        padding-bottom: 0;
    }

    width: 100%;

    // >= tablet_width
    $node_size: 80px;
    // < tablet_width
    $small_node_size: 60px;

    $color: var(--color);
    $subcolor: var(--subcolor);

    .date {
        width: 150px;
        height: $node_size;
        display: flex;
        align-items: center;
        order: 1;

        @media (max-width: $tablet_width) {
            width: 70%;
            height: auto;
            padding: 10px 0 0 ($small_node_size + 20px);
            order: 3;
        }
        
        h6 {
            font-size: 1.7rem;

            @media (max-width: $tablet_width) {
                font-size: 1.3rem;
            }
        }
    }

    .node {
        order: 2;
        // circle of color "--color"
        background: $color;
        border-radius: 50%;
        width: $node_size;
        height: $node_size;
        border: math.div($node_size, 8) solid $subcolor;

        @media (max-width: $tablet_width) {
            // display: none;
            order: 1;
            width: $small_node_size;
            height: $small_node_size;
            border: math.div($small_node_size, 8) solid $subcolor;
        }
    }

    .desc {    
        width: 50%;
        order: 3;

        @media (max-width: $tablet_width) {
            width: 80%;
            order: 2;
        }

        // title
        h3 {
            padding: 0 0 0 20px;
            margin: 0;
            text-align: left;
            font-size: 2.5rem;
        }

        // subtitle
        h4 {
            padding: 0 0 0 20px;
            margin: 0;
            text-align: left;
            font-size: 1.8rem;
        }
    }

    .body {
        width: 100%;
        order: 4;
        padding: 10px 0 0 ($node-size + 170px);

        @media (max-width: $tablet_width) {
            width: 90%;
            padding: 10px 0 0 ($small_node_size + 20px);
        }
    }
}
