.section-header {
    background-color: #000031;
}

#my-navbar {
    font-family: 'nunito', sans-serif;
    font-weight: 500;
}

.nav-item {
    margin: 0 10px;
}

.navbar-brand {
    font-weight: 700;
    margin: 0 5px;
} 

.navbar-logo {
    padding: 0 0;
}