.section-timeline {
    /* background-color: #f3d4ee; */
    background: rgb(77,149,214);
    background: linear-gradient(180deg, rgb(141, 182, 218) 0%, rgba(197,153,237,1) 49%, rgba(236,168,232,1) 100%);
}

#timeline-header {
    font-weight: 800;
    text-align: center;
    padding: 30px 0;
}

.vertical-timeline-element-content {
    color: rgb(0, 0, 0);
    padding: 1em 1em 0.3em 1.3em !important;
}

.vertical-timeline-element-heading {
    color: #000031;
    font-weight: 400;
    font-size: 1.55em;
}

.vertical-timeline-element-subheading {
    color: #181e58;
    font-size: 1.2em;
    padding: 0 0 0.3em 0;
}

.vertical-timeline-element-date {
  color: rgb(0, 0, 0);
}

.vertical-timeline-element-arrow {
  text-align: center;
}

/* CUSTOM LINE COLOR */
/* The line */
.vertical-timeline.vertical-timeline-custom-line::before {
  background: #424242;
}

@media only screen and (min-width: 1170px) {
    .vertical-timeline-element-content {
        padding: 1.5em;
        width: 44%;
    }
}

/* Example with custom animations */

/* .vertical-timeline--animate .vertical-timeline-element-content.bounce-in {
  visibility: visible;
  animation: custom-animation 0.6s !important;
}
@keyframes custom-animation {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  60% {
    opacity: 1;
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
} */
