.section-notes {
    background-color: #f5f5f5;
    padding-bottom: 50px;
    font-size: 1.1rem;
}

#personal-notes-title {
    padding-top: 30px;
    padding-bottom: 15px;
}

#personal-notes-description {
    padding-bottom: 15px;
}

.notes-subject-section {
    padding: 15px 0;
}

.notes-subject-heading {
    padding: auto;
    height: 25px;
}

.notes-subject-link {
    padding: 25px;
    height: 30px;
}