@import "../../index";

.section-experience-page {
    .experience {
        // min-height: 70vh;
        @include nicebg;
        // border-bottom: $dark_border;
        padding: 20px;
        
        .sub {
            height: 100%;
            width: 100%;
            // padding: 20px;

            @include center;
            // @include homePageGradient(135deg);

            .content {
                // margin-top: 60px;
                // margin-bottom: 60px;
                // margin: 0;
                padding: 10px 0;
                
                // @include lightToDarkGradient(45deg, 130, 0.7);
                // background: #f5f5f5cc;
                // @include dark_border;
                border-radius: 20px;
                // box-shadow: 10px 10px #000031;
                width: 80%;

                display: flex;
                // flex-direction: row;
                flex-wrap: wrap;

                .title {
                    width: 70%;
                    h1 {
                        font-size: 2.4em;
                    }
                }

                .date {
                    width: 30%;

                    h6 {
                        font-size: 1.8em;
                        font-weight: 600;
                        // font-family: "Comic Neue", sans-serif;
                        text-align: right;
                    }
                }

                .description {
                    width: 80%;
                    padding: 10px 20px 10px 0;
                    // @include center;

                    p {
                        font-size: 1.2em;
                    }
                }

                .key-achievements {
                    width: 100%;
                    // padding: 10px 0 10px 20px;

                    h3 {
                        font-size: 1.3em;
                        font-weight: bold;
                    }

                    li {
                        font-size: 1.3em;
                        font-weight: 300;
                    }
                }

                @media (max-width: $medium_desktop_width) {
                    width: 90%;
                }

                @media (max-width: $tablet_width) {
                    
                    .title {
                        width: 80%;
                        h1 {
                            font-size: 2em;
                        }
                    }

                    .date {
                        width: 100%;
                        h6 {
                            text-align: left;
                            font-size: 1.3em;
                        }
                    }

                    .description {
                        width: 100%;
                    }
                    
                    .key-achievements {
                        width: 100%;
                        padding: 10px;
                    }
                }
            }
        }
    }

    $tilt: 135deg;
    $transp: 0.5;

    .emedasia {
        background-size: 70%;

        .sub {
            // @include lightToDarkGradient($tilt, 180, $transp);
            // background: #f5f5f5cc;
        }
    }

    .dignity {
        background-size: 70%;

        .sub {
            // @include lightToDarkGradient($tilt, 200, $transp);
        }
    }

    .shelterHome {
        background-size: 30%;

        .sub {
            // @include lightToDarkGradient($tilt, 220, $transp);
        }
    }

    .tms {
        background-size: 80%;

        .sub {
            // @include lightToDarkGradient($tilt, 240, $transp);
        }
    }
}
