@import "../../index";

.section-experience-page {
    background: url("../Cover/images/experience.png");
    @include parallax;
    background-size: 85%;
    background-position-y: 80px;

    h3 {
        padding: 10px 0;
    }

    .gradient {
        width: 100%;
        height: 100%;

        padding: 20px 0;

        background: linear-gradient(90deg, rgba(153, 233, 229, 0.9) 0%, rgba(48, 184, 238, 0.9) 100%);

        .experience {
            // min-height: 70vh;
            // border-bottom: $dark_border;
            padding: 10px 0;

            .sub {
                height: 100%;
                width: 100%;
                // padding: 20px;

                @include center;
                // @include homePageGradient(135deg);

                .content {
                    // margin-top: 60px;
                    // margin-bottom: 60px;
                    // margin: 0;
                    padding: 10px 0;

                    // @include lightToDarkGradient(45deg, 130, 0.7);
                    background: #f5f5f5cc;
                    padding: 20px;
                    // @include dark_border;
                    // border-top-left-radius: 20px;
                    border-radius: 20px;
                    border-bottom-right-radius: 0px;
                    // box-shadow: 10px 10px #000031;
                    width: 70%;

                    display: flex;
                    // flex-direction: row;
                    flex-wrap: wrap;

                    .title {
                        width: 70%;
                        h4 {
                            // gradient background
                            background: linear-gradient(
                                120deg,
                                rgb(8, 144, 161) 0%,
                                rgb(34, 114, 218) 50%,
                                rgb(80, 91, 236) 100%
                            );
                            background-clip: text;
                            -webkit-background-clip: text;
                            color: transparent;
                        }
                    }

                    .date {
                        width: 30%;

                        h6 {
                            // font-size: 1.5em;
                            // font-weight: 600;
                            // font-family: "Comic Neue", sans-serif;
                            text-align: right;
                        }
                    }

                    .description {
                        width: 80%;
                        padding: 10px 20px 10px 0;
                        // @include center;

                        // p {
                        //     font-size: 1.2em;
                        // }
                    }

                    .key-achievements {
                        width: 100%;
                        // padding: 10px 0 10px 20px;

                        // h3 {
                        //     font-size: 1.3em;
                        //     font-weight: bold;
                        // }

                        // li {
                        //     font-size: 1.3em;
                        //     font-weight: 300;
                        // }
                    }

                    @media (max-width: $medium_desktop_width) {
                        width: 90%;
                    }

                    @media (max-width: $tablet_width) {
                        .title {
                            width: 100%;
                            h1 {
                                font-size: 2em;
                            }
                        }

                        .date {
                            width: 100%;
                            h6 {
                                text-align: left;
                                font-size: 1.3em;
                            }
                        }

                        .description {
                            width: 100%;
                        }

                        .key-achievements {
                            width: 100%;
                            padding: 10px;
                        }
                    }
                }
            }
        }

        $tilt: 135deg;
        $transp: 0.5;

        .emedasia {
            background-size: 70%;

            .sub {
                // @include lightToDarkGradient($tilt, 180, $transp);
                // background: #f5f5f5cc;
            }
        }

        .dignity {
            background-size: 70%;

            .sub {
                // @include lightToDarkGradient($tilt, 200, $transp);
            }
        }

        .shelterHome {
            background-size: 30%;

            .sub {
                // @include lightToDarkGradient($tilt, 220, $transp);
            }
        }

        .tms {
            background-size: 80%;

            .sub {
                // @include lightToDarkGradient($tilt, 240, $transp);
            }
        }
    }
}
