.section-top-carousel {
    background-color: #000000;
}

.carousel-container {
  padding: 0 !important;
}

.carousel-link {
  color: #f5f5f5;
}

.carousel-link:hover {
  color: #8e4162;
}

/* @media (max-width: 1200px) {
    .carousel-container {
      width: auto;
      height: auto;
    }
} */