.section-my-achievements {
    background-color: #f5f5f5;
}

.my-achievements-image {
    background: url('./blob-achievements.svg');
    background-size: 110%;
    background-position: -20px 0;
}

.my-achievements-text-div {
    padding: 0 3%;
}

.my-achievements-view button {
	width: 280px;
	color: #000000;
    background: #57b9e4ad;
}

.my-achievements-view button:hover {
    background: #8cd3f1d0;
}