html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    font-family: 'nunito', sans-serif;
    font-weight: 300;
    font-size: 1.1rem;
}

h1 {
    font-family: 'nunito', sans-serif;
    font-weight: 700;
}

h2 {
    font-family: 'nunito', sans-serif;
    font-weight: 500;
}

h4 {
    font-family: 'nunito', sans-serif;
    font-weight: 400;
}

li {
    font-family: 'nunito', sans-serif;
    font-weight: 400;
    font-size: 1rem;
}

#root {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

@media (min-width: 992px) {

    section {
        /* padding: 10px 7%; */
        padding-left: 9%;
        padding-right: 11%;
    }

}

@media (max-width: 992px) {

    section {
        padding-top: 40px;
        padding-bottom: 40px;
        padding-left: 9%;
        padding-right: 11%;
    }

}

@media (max-width: 680px) {

    section {
        padding: 40px 10px;
    }
}