html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    font-family: 'nunito', sans-serif;
    font-weight: 300;
    font-size: 1.1rem;
}

h1 {
    font-family: 'nunito', sans-serif;
    font-weight: 700;
}

h2 {
    font-family: 'nunito', sans-serif;
    font-weight: 500;
}

h4 {
    font-family: 'nunito', sans-serif;
    font-weight: 400;
}

li {
    font-family: 'nunito', sans-serif;
    font-weight: 400;
    font-size: 1rem;
}

#root {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

/* Education */
.section-education {
    background-color: #ffddff;
    display: none;
}

#education-title {
    padding-top: 50px;
    text-align: center;
}

/* Page Sections */
.section-page {
    background-color: #c0d2f3;
    padding: 20px 12%;
    display: inline-flex;
}

.section-page .container-fluid .col-lg-6 {
    display: flex;
}

.page-text, .page-image-div {
    justify-content: center;
    align-items: center;
}

.page-image {
    background-position: 0;
    width: 100%;
    max-width: 500px;
}

.page-text-div {
    padding: 0 5%;
}

.page-text-div h2 {
    font-family: 'nunito', sans-serif;
    font-weight: 300;
    margin-bottom: 5%;
    font-size: 2.6em;
}

/* button modified from https://codepen.io/chancesq/pen/GRovMQq */
.noselect {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
	-webkit-tap-highlight-color: transparent;

}

.page-view button {
    margin: 0;
    padding: 0;
	box-sizing: border-box;
	width: 250px;
	height: 50px;
	cursor: pointer;
	border: none;
	font-family: 'comic neue', sans-serif;
	color: #000000;
    font-weight: 300;
	font-size: 25px;
	border-radius: 4px;
	transition: 0.3s;
}

@media (min-width: 992px) {
    .section-my-projects, .section-my-education,
    .section-my-achievements, .section-my-timeline {
        /* padding: 10px 7%; */
        padding-left: 9%;
        padding-right: 11%;
    }

    .section-my-experience, .section-my-extracurriculars, 
    .section-my-notes, .section-credits {
        padding-left: 13%;
        padding-right: 13%;
    }
}

@media (max-width: 992px) {

    .section-page {
        padding-top: 40px;
        padding-bottom: 40px;
        padding-left: 9%;
        padding-right: 11%;
    }

    .page-text-div h2 {
        margin-bottom: 10px;
        font-size: 2.4em;
    }

}

@media (max-width: 680px) {
    .page-text-div h2 {
        margin-bottom: 5px;
    }

    .page-image {
        margin-bottom: 15px;
    }
}

@media (max-width: 440px) {

    .page-image {
        margin-bottom: 20px;
    }

    .page-text-div h2 {
        font-size: 2em;
    }
}
