body {
    font-family: 'nunito', sans-serif;
    font-weight: 300;
    text-align: center;
    font-size: 1.1rem;
}

h1 {
    font-family: 'nunito', sans-serif;
    font-weight: 700;
}

h2 {
    font-family: 'nunito', sans-serif;
    font-weight: 500;
}

h4 {
    font-family: 'nunito', sans-serif;
    font-weight: 400;
}

li {
    font-family: 'roboto', sans-serif;
    font-weight: 400;
}

.container-fluid {
    padding: 0 10%;
}

.notes-updates-container {
    background-color: #ffddff;
    /* background-color: #5d707f;
    color: #f5f5f5; */
    padding-top: 30px;
    padding-bottom: 30px;
}

.notes-update-subject {
    text-decoration: underline;
}

.notes-update-link:hover {
    color: #8e4162;
}

#notes-updates-h1 {
    padding-top: 5px;
    padding-bottom: 10px;
    /* position: relative;
    bottom: 20px; */
}

/* Education */
.section-education {
    background-color: #ffddff;
    display: none;
}

#education-title {
    padding-top: 50px;
    text-align: center;
}

/* Contact Me */
.section-contact-me {
    background-color: #000031;
    color: #f5f5f5;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 1.1rem;
    font-weight: 500;
}

.contact-me-details {
    padding-top: 10px;
}

.contact-me-link {
    color: #9fb8c2;
    font-weight: 700;
}

.contact-me-link:hover {
    color: #f5f5f5;
}

.contact-me-logo {
    padding-right: 5px;
    color: #f5f5f5;
    transform: scale(1.2);
}

.contact-me-box {
    padding: 5px 0;
}







/* Sections To Be Added  */

/* Programming Expertise */
.section-programming-expertise {
    background-color: #000031;
    color: white;
    display: none;
}

.programming-subheading {
    font-family: 'nunito', sans-serif;
    font-weight: 400;
}

/* Projects */
.section-projects {
    background-color: #f5f5f5;
    display: none;

}

/* Past Experience */
.section-past-experience {
    background-color: #000031;
    color: white;
    display: none;

}

/* Notable Awards */
.section-notable-awards {
    background-color: #000031;
    color: white;
    display: none;
}

/* Extracurriculars */
.section-extracurriculars {
    background-color: #f5f5f5;
    display: none;
}

/* #trombone-photo {

}

#trombone-section-photo {

} */

/* Timeline */
.section-timeline {
    background-color: #000031;
    color: white;
    display: none;
}
