html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    font-family: 'nunito', sans-serif;
    font-weight: 300;
    font-size: 1.1rem;
}

h1 {
    font-family: 'nunito', sans-serif;
    font-weight: 700;
}

h2 {
    font-family: 'nunito', sans-serif;
    font-weight: 500;
}

h4 {
    font-family: 'nunito', sans-serif;
    font-weight: 400;
}

li {
    font-family: 'nunito', sans-serif;
    font-weight: 400;
    font-size: 1rem;
}

#root {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

@media (max-width: 680px) {

    section {
        padding: 40px 10px;
    }
}