@import "../../index.scss";

.section-piano-page {
  background: #f5f5f5cc;

  .description {
    padding: 0 6vw;
    text-align: center;
    border-radius: 20px;
    background: #f5f5f5cc;
  }

  .videos {
    @include center;

    iframe {
      border: 5px solid black;
      width: 530px;
      margin: 2vw 2vw;
    }
  }
}




