.section-about-me {
    padding: 30px 0 50px 0;
    /* background-color: #332e3f; */
    background-image: url("./light-blue-geometric.jpg");
    text-align: center;
}

#container-about-me {
    margin: auto;
}

#about-me-title {
    color: #f5f5f5;
    padding-bottom: 30px;
    font-weight: 800;
    text-align: center;
}

#personal-photo {
    width: 90%;
}

.personal-desc-section {
    padding: 30px 20px;
    background-color: #f5f5f5cc;
    text-align: justify;
}

#personal-description {
    font-size: 1.1rem;
    font-weight: 400;
}